@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit the <a asp-action="Index" asp-controller="Player" asp-route-lessonid="903">Demo</a>.</p>
</div>
