@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Demonstration</h1>
        <p>This is a sample demonstrating how to play a <a asp-action="Index" asp-controller="Player" asp-route-lessonid="903">Typsy Lesson</a> using the Typsy Web Player which can be embedded into a customer's website.</p>
        <p>By embedding the Typsy Content into the customer website the user does not need to leave the site to watch Typsy Content.</p>
        <p>There is also a sample for returning a list of <a asp-action="Index" asp-controller="Courses">Typsy Courses</a>.</p>
        <p>This example demonstrates how a ficticious company, The Hospitality Group, plays a Typsy Lesson within their website or learning management system (LMS).</p>

    </div>
