@model Typsy.Demo.WebPlayer.Models.PlayerViewModel

@{
    ViewData["Title"] = "Demo";
}

<h1>Typsy Lesson</h1>
<p>Insert the Typsy Lesson here</p>

<hr />

<iframe style="height:600px;width:800px;border:none;background-color:white;" src="@Model.Url"></iframe>

